@import "reset.scss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body{
    display: grid;
    place-content: center;
    min-height: 100vh;
    line-height: 1.6;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

.card{
    width: 98%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    padding: .7em;
    border-radius: 20px;
    color: aliceblue;
    box-shadow: 0 0 .8rem rgba(0,0,0,.4);
}

img{
  width: 151px;
    height: 151px;
    border-radius: 50%!important;
    object-fit: cover;
    border: 3px solid palevioletred;
}
.socials{
    display: flex;
    width: 125px;
    padding: 0;
    margin: 0 auto;
    justify-content: space-around;
}
.social-link{
    color: #fff;
    font-size: 1.2rem;
    opacity: .2;
    transition: all .3s ease;
}
.social-link:hover,
.social-link:focus{
    opacity: 1;
    color: aqua;
}
.profile-name{
    font-size: 1.3rem;
    letter-spacing: .2rem;
}
.profile-name::after{
    content: "";
    display: block;
    height: 2px;
    width: 3em;
    margin: 0.2em auto 0.2em;
    background-color: #fff;
}
.field{
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 3px;
    opacity: .8;
    font-weight: 600;
    padding-bottom: .2rem;
}
.note{
    font-size: .78rem;
    font-weight: 700;
    padding: 0 .5rem;
    opacity: .4;
    text-transform: none;
    text-align: start;
    white-space: wrap;
    text-indent: 20px;
}
.note a{
    color: aqua;
}
.interest{
    font-size:.75rem;
    margin-top: .2rem;
    padding: 0;
    opacity: .4;
}
@media screen and (min-width:600px) {
    .card{
        max-width: 850px;
        flex-direction: row;
        width: 78%;
        padding: 1em;
    }
    img{
    width: 250px;
    height:250px;
}
.profile-name{
    font-size: 2rem;
}
.socials{
        width: 185px;
}
.social-link{
    font-size: 1.5rem;
}
    .profile-main{
        text-align: left;
        margin-left: 2rem;
    }
    .note{
        font-size: .8rem;
        line-height: 17px;
        letter-spacing: 2px;
        text-align: left;
        padding: 0;
        padding-bottom: .6rem;
    }
    .profile-name::after{
        margin-left: 0;
        width: 5em;
    }
    .interest{
        font-size: .8rem;
    }
}
